.report-modal-container {
  position: relative;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.116);
}

.report-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(280px, 80vw, 450px);
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 2.1rem 1rem 2rem 1rem;
  background-color: white;
}
.report-modal:focus-visible {
  outline: none;
}
.report-text {
  width: clamp(5rem, 90%, 40rem);
}
.report-text::before {
  box-shadow: none !important;
}
.report-button-cancel {
  width: 7rem;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgb(139, 138, 138);
  border: 1px solid transparent;
  /* border-radius: 8px; */
  transition: all 0.2s;
  touch-action: manipulation;
  box-shadow: 0px 5px 5px rgba(116, 116, 116, 0.3);
}
.report-button-cancel:hover {
  cursor: pointer;
  color: rgb(139, 138, 138);
  background-color: white;
  border: 1px solid black;
}
.report-buttons-container {
  display: flex;
  gap: 1rem;
}
.report-button-send {
  width: 7rem;
  border: 1px solid transparent;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgba(255, 0, 0, 0.814);
  border: none;
  /* border-radius: 8px; */
  transition: all 0.2s;
  touch-action: manipulation;
  box-shadow: 0px 5px 5px rgba(116, 116, 116, 0.3);
}
.report-button-send:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.814);
  background-color: white;
  border: 1px solid black;
}
.report-error-text {
  color: red !important;
}
