.addmodal-container {
  position: relative;
}
.addmodal {
  /* padding: 3rem 1.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  right: 50%;
  transform: translate(50%);
  width: clamp(26rem, 80vw, 70rem);
  height: 53rem;
  background-color: var(--text-secondary);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 1rem; */
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: clamp(300px, 90vw, 1100px);
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 3rem 0rem;
}
.addmodal:focus-visible {
  outline: none;
}
.addmodal-headline {
  color: var(--special-color);
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  text-align: center;
}
.addmodal-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  width: 100%;
}
.addmodal-select-buttons-container {
  display: flex;
  flex-direction: row;
  gap: clamp(1rem, 2.5vw, 2rem);
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.addmodal-preferences-button {
  width: clamp(17rem, 45%, 21rem);
}
/* .addmodal-input-field {
}
.addmodal-text-field {
} */
.addmodal-submit {
  margin: auto;
  display: inline-block;
  width: 46%;
  min-width: 17rem;
  border-radius: 2em;
  align-items: center;
  background-color: var(--special-color);
  border: 2px solid var(--special-color);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  outline: 0;
  padding: 7px 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
  letter-spacing: 1px;
}
.addmodal-submit:hover {
  background-color: #ffffff;
  border-color: var(--special-color);
  color: var(--special-color);
}
.addmodal-dropzone {
  width: clamp(17rem, 45%, 40rem);
  height: 10rem;
}
.addmodal-dropzone-error {
  color: red;
  margin-top: -1rem;
}
.addmodal-exit-icon {
  position: absolute;
  z-index: 100;
  top: 2%;
  right: 2%;
  font-size: 2.5rem;
  color: var(--special-color);
  opacity: 0.7;
}
.addmodal-exit-icon:hover {
  cursor: pointer;
  color: var(--special-color);
  opacity: 1;
}

@media (max-width: 450px) {
  .addmodal {
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
  }
}
