.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primary-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  background-image: url('../../utils/images/dogRun.avif');
  background-size: cover;
  background-position: 50% 68%;
  background-repeat: no-repeat;
  height: clamp(25rem, 55vw, 52rem);
  /* aspect-ratio: 2.3/1; */
}
.primary-header-headline {
  color: var(--text-secondary);
  font-size: clamp(1.4rem, 2.5vw, 5rem);
}
.primary-header-pargraph {
  color: var(--text-secondary);
  font-size: clamp(0.8rem, 1.8vw, 4rem);
  margin-bottom: 4rem;
  font-weight: 540;
}
.primary-preferences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0;
  background-color: white;
  padding: 1rem 2rem 2rem 2rem;
  margin-top: -4rem;
  max-width: 1790px;
}

.primary-preferences-img {
  width: 3.8rem;
  margin-top: 2rem;
}
.primary-preferences-headline {
  font-size: clamp(1.3rem, 2.5vw, 2.8rem);
  text-align: center;
  margin: 2rem 0rem;
}
.primary-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.primary-preferences-buttons-container {
  display: flex;
  flex-direction: row;
  gap: clamp(1rem, 2.5vw, 2rem);
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.primary-preferences-button {
  width: 40%;
  max-width: 20rem;
  min-width: 11rem;
}

.primary-adoption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary-adoption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 100%;
}
.primary-adoption-headline {
  font-size: clamp(1.4rem, 5vw, 2.8rem);
}
.primary-adoption-headline-headlight {
  color: var(--special-color);
}
.dogs-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.9rem;
  margin-bottom: 5rem;
}
.primary-failed-fetch-dogs {
  color: red;
  text-align: center;
  margin: auto;
}
