.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  background-image: url("../../utils/images/dogRun.avif");
  background-size: cover;
  background-position: 50% 68%;
  background-repeat: no-repeat;
  height: clamp(25rem, 55vw, 52rem);
  /* aspect-ratio: 2.3/1; */
}
.header-headline {
  color: var(--text-secondary);
  font-size: clamp(1.4rem, 2.5vw, 5rem);
}
.header-pargraph {
  color: var(--text-secondary);
  font-size: clamp(0.8rem, 1.8vw, 4rem);
  margin-bottom: 4rem;
  font-weight: 540;
}
