.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 550;
  padding: 1rem 1.5rem;
  width: 100%;
  z-index: 0;
  opacity: 1;
  z-index: 10;
  transition: all 0.3s;
  align-items: center;
}

.nav-left-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 1.25rem;
}
.nav-link:hover {
  transition: all 0.1s;
  color: var(--special-color);
  cursor: pointer;
}

.nav-headline {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
}

.nav-right-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.nav-favorite-icon {
  color: var(--text-secondary);
  font-size: 2rem;
}
.nav-favorite-icon:hover {
  color: var(--special-color);
  transition: all 0.16s;
}

.nav-login-and-sign-up {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.nav-user {
  position: relative;
  display: flex;
  gap: 0.4rem;
  color: white;
  align-items: center;
  font-size: 1.15rem;
}
.nav-user:hover {
  color: var(--special-color);
  cursor: pointer;
}
.nav-login-and-sign-up-button {
  border: none;
  color: var(--text-secondary);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 550;
}
.nav-login-and-sign-up-button:focus-visible {
  outline: none;
}
.nav-login-and-sign-up-button:hover {
  cursor: pointer;
  transition: all 0.1s;
  color: var(--special-color);
}

.nav-hamburger-icon {
  display: none;
}
.scrolled-navbar {
  transition: all 0.3s;
  padding: 0.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.843);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav-hamburger-icon {
  display: none;
  font-size: 1.6rem;
  margin-top: 0.3rem;
  margin-right: -1rem;
  color: var(--text-secondary);
  padding: 0.8rem 0;
}
.scrolled-nav-headline {
  color: var(--special-color);
}
.scrolled-link {
  color: rgb(111, 111, 111);
}

@media (max-width: 770px) {
  .nav-login-and-sign-up-button {
    display: none;
  }

  .nav-favorite-icon {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .nav-hamburger-icon {
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 0.3rem;
    margin-right: 0rem;
    padding: 0.8rem 0;
  }
  .nav-hamburger-icon:hover {
    cursor: pointer;
    color: var(--special-color);
    transition: all 0.1s;
  }
  .nav-login-and-sign-up {
    display: none;
  }

  .navbar {
    padding: 0rem 0.7rem;
  }
}
