.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: rgba(247, 245, 245, 0.429);
  padding: 1rem 2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 93%;
  object-fit: contain;
}
