.breeds {
  background-color: var(--background-color);
  height: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
}
.breeds-header-headline {
  color: var(--text-secondary);
  font-size: clamp(1.4rem, 2.5vw, 5rem);
}
.breeds-header-subtitle {
  color: var(--text-secondary);
  font-size: clamp(0.8rem, 1.8vw, 4rem);
  margin-bottom: 4rem;
  font-weight: 540;
}

/*התמונה לא רספנוסיבית מספיק טוב צריך לתקן*/
.breeds-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  background-image: url('../../utils/images/aboutBreeds.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: clamp(30rem, 35vw, 35rem);
}
.breeds-select-button {
  background-color: white;
  width: clamp(17rem, 45%, 21rem);
}
.breeds-header-box {
  width: clamp(18rem, 60%, 50rem);
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.746);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.breeds-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 18rem;
  width: clamp(18.6rem, 70%, 80rem);
  border-radius: 10px;
  padding: 2rem 1rem;
  background-color: white;
  margin: auto;
  margin-top: -3rem;
  gap: 3rem;
}
.breeds-info-title {
  color: var(--special-color);
  font-size: 2.5rem;
  text-align: center;
}
.breeds-info-title-when-empty {
  color: var(--special-color);
}
.breeds-info-data-and-img {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  width: 100%;
}
.breed-info-img-container {
  margin: auto;
  width: clamp(14rem, 55%, 30rem);
}
.breed-info-img {
  border-radius: 7px;
  background: contain;
  width: 100%;
}
.breeds-info-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  font-size: 1.3rem;
  color: var(--special-color);
  font-weight: 550;
  text-align: center;
}
.breeds-info-hightlight {
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
  line-height: 1.7rem;
}
