.triangle {
  position: absolute;
  right: 0px;
  top: -5px;
  width: 0.2rem;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  rotate: 180deg;
}
.profile-list {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: white;
  color: black;
}
.profile-list:focus-visible {
  outline: none;
}
.profile-list-details {
  pointer-events: none;
}
.profile-list-modal {
  position: absolute;
}

.profile-list-icon {
  color: var(--special-color);
  font-size: 1.4rem;
}

.profile-list-modal .css-919eu4 {
  background-color: transparent !important;
}
.profile-list-modal .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent !important;
}
@media (max-width: 770px) {
  .profile-list {
    right: 2rem;
  }
}
