.addmodal-container {
  position: relative;
}
.addmodal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  right: 50%;
  transform: translate(50%);
  width: clamp(19rem, 80vw, 70rem);
  height: 53rem;
  background-color: var(--text-secondary);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 1rem;
}
